--
-- PostgreSQL database dump
--

\restrict Ng883gghvG3Bh8tyQrIDu1vfYa7tQMaKgPcuE9Lds2LaIPHWOYeDhs6el44cS5c

-- Dumped from database version 17.7 (bdd1736)
-- Dumped by pg_dump version 18.2 (Debian 18.2-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: deployment_status; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.deployment_status AS ENUM (
    'pending',
    'in_progress',
    'success',
    'failed',
    'rolled_back'
);


ALTER TYPE public.deployment_status OWNER TO neondb_owner;

--
-- Name: deployment_type; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.deployment_type AS ENUM (
    'manual',
    'automatic',
    'rollback'
);


ALTER TYPE public.deployment_type OWNER TO neondb_owner;

--
-- Name: issue_priority; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.issue_priority AS ENUM (
    'lowest',
    'low',
    'medium',
    'high',
    'highest'
);


ALTER TYPE public.issue_priority OWNER TO neondb_owner;

--
-- Name: issue_status; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.issue_status AS ENUM (
    'todo',
    'in_progress',
    'in_review',
    'testing',
    'done',
    'closed'
);


ALTER TYPE public.issue_status OWNER TO neondb_owner;

--
-- Name: issue_type; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.issue_type AS ENUM (
    'task',
    'bug',
    'feature',
    'improvement',
    'epic'
);


ALTER TYPE public.issue_type OWNER TO neondb_owner;

--
-- Name: project_status; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.project_status AS ENUM (
    'planning',
    'active',
    'on_hold',
    'completed',
    'archived'
);


ALTER TYPE public.project_status OWNER TO neondb_owner;

--
-- Name: server_status; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.server_status AS ENUM (
    'active',
    'inactive',
    'maintenance',
    'decommissioned'
);


ALTER TYPE public.server_status OWNER TO neondb_owner;

--
-- Name: server_type; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.server_type AS ENUM (
    'physical',
    'virtual',
    'cloud',
    'container'
);


ALTER TYPE public.server_type OWNER TO neondb_owner;

--
-- Name: service_status; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.service_status AS ENUM (
    'running',
    'stopped',
    'degraded',
    'maintenance',
    'failed'
);


ALTER TYPE public.service_status OWNER TO neondb_owner;

--
-- Name: service_type; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.service_type AS ENUM (
    'web',
    'api',
    'database',
    'cache',
    'queue',
    'worker',
    'cron',
    'other'
);


ALTER TYPE public.service_type OWNER TO neondb_owner;

--
-- Name: sprint_status; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.sprint_status AS ENUM (
    'planned',
    'active',
    'completed',
    'cancelled'
);


ALTER TYPE public.sprint_status OWNER TO neondb_owner;

--
-- Name: team_role; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.team_role AS ENUM (
    'owner',
    'admin',
    'member',
    'viewer'
);


ALTER TYPE public.team_role OWNER TO neondb_owner;

--
-- Name: set_deployment_completed_at(); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.set_deployment_completed_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF NEW.status IN ('success', 'failed', 'rolled_back')
       AND OLD.status NOT IN ('success', 'failed', 'rolled_back') THEN
        NEW.completed_at = NOW();
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.set_deployment_completed_at() OWNER TO neondb_owner;

--
-- Name: set_deployment_started_at(); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.set_deployment_started_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF NEW.status = 'in_progress' AND OLD.status != 'in_progress' THEN
        NEW.started_at = NOW();
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.set_deployment_started_at() OWNER TO neondb_owner;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO neondb_owner;

--
-- Name: validate_sprint_dates(); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.validate_sprint_dates() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF NEW.start_date IS NOT NULL AND NEW.end_date IS NOT NULL THEN
        IF NEW.start_date >= NEW.end_date THEN
            RAISE EXCEPTION 'Sprint start_date must be before end_date';
        END IF;
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.validate_sprint_dates() OWNER TO neondb_owner;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: deployments; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.deployments (
    id integer NOT NULL,
    service_id integer NOT NULL,
    deployed_by integer NOT NULL,
    version character varying(50) NOT NULL,
    commit_hash character varying(40),
    branch character varying(100),
    tag character varying(100),
    type public.deployment_type DEFAULT 'manual'::public.deployment_type NOT NULL,
    status public.deployment_status DEFAULT 'pending'::public.deployment_status NOT NULL,
    started_at timestamp without time zone,
    completed_at timestamp without time zone,
    environment character varying(50) NOT NULL,
    rollback_from_id integer,
    notes text,
    error_message text,
    log_url character varying(500),
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.deployments OWNER TO neondb_owner;

--
-- Name: TABLE deployments; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON TABLE public.deployments IS '諛고룷 ?뚯씠釉?- ?쒕퉬?ㅼ쓽 諛고룷 ?대젰 異붿쟻';


--
-- Name: COLUMN deployments.id; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.deployments.id IS '諛고룷 ID';


--
-- Name: COLUMN deployments.service_id; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.deployments.service_id IS '?쒕퉬??ID';


--
-- Name: COLUMN deployments.deployed_by; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.deployments.deployed_by IS '諛고룷 ?ㅽ뻾??ID';


--
-- Name: COLUMN deployments.version; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.deployments.version IS '諛고룷 踰꾩쟾';


--
-- Name: COLUMN deployments.commit_hash; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.deployments.commit_hash IS 'Git 而ㅻ컠 ?댁떆';


--
-- Name: COLUMN deployments.branch; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.deployments.branch IS 'Git 釉뚮옖移?;


--
-- Name: COLUMN deployments.tag; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.deployments.tag IS 'Git ?쒓렇';


--
-- Name: COLUMN deployments.type; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.deployments.type IS '諛고룷 ???;


--
-- Name: COLUMN deployments.status; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.deployments.status IS '諛고룷 ?곹깭';


--
-- Name: COLUMN deployments.started_at; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.deployments.started_at IS '諛고룷 ?쒖옉 ?쒓컙';


--
-- Name: COLUMN deployments.completed_at; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.deployments.completed_at IS '諛고룷 ?꾨즺 ?쒓컙';


--
-- Name: COLUMN deployments.environment; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.deployments.environment IS '諛고룷 ?섍꼍 (dev, staging, production)';


--
-- Name: COLUMN deployments.rollback_from_id; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.deployments.rollback_from_id IS '濡ㅻ갚 ???諛고룷 ID';


--
-- Name: COLUMN deployments.notes; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.deployments.notes IS '諛고룷 硫붾え';


--
-- Name: COLUMN deployments.error_message; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.deployments.error_message IS '?먮윭 硫붿떆吏 (?ㅽ뙣 ??';


--
-- Name: COLUMN deployments.log_url; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.deployments.log_url IS '諛고룷 濡쒓렇 URL';


--
-- Name: deployments_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.deployments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.deployments_id_seq OWNER TO neondb_owner;

--
-- Name: deployments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.deployments_id_seq OWNED BY public.deployments.id;


--
-- Name: issues; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.issues (
    id integer NOT NULL,
    project_id integer NOT NULL,
    sprint_id integer,
    assignee_id integer,
    creator_id integer NOT NULL,
    key character varying(20) NOT NULL,
    title character varying(500) NOT NULL,
    description text,
    type public.issue_type DEFAULT 'task'::public.issue_type NOT NULL,
    priority public.issue_priority DEFAULT 'medium'::public.issue_priority NOT NULL,
    status public.issue_status DEFAULT 'todo'::public.issue_status NOT NULL,
    estimate_hours integer,
    actual_hours integer,
    "order" integer DEFAULT 0 NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.issues OWNER TO neondb_owner;

--
-- Name: TABLE issues; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON TABLE public.issues IS '?댁뒋 ?뚯씠釉?- ?묒뾽, 踰꾧렇, 湲곕뒫 ?붿껌 ?깆쓣 異붿쟻';


--
-- Name: COLUMN issues.id; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.issues.id IS '?댁뒋 ID';


--
-- Name: COLUMN issues.project_id; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.issues.project_id IS '?꾨줈?앺듃 ID';


--
-- Name: COLUMN issues.sprint_id; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.issues.sprint_id IS '?ㅽ봽由고듃 ID (諛깅줈洹??댁뒋??NULL)';


--
-- Name: COLUMN issues.assignee_id; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.issues.assignee_id IS '?대떦??ID';


--
-- Name: COLUMN issues.creator_id; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.issues.creator_id IS '?앹꽦??ID';


--
-- Name: COLUMN issues.key; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.issues.key IS '?댁뒋 ??(?? PROJ-123)';


--
-- Name: COLUMN issues.title; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.issues.title IS '?댁뒋 ?쒕ぉ';


--
-- Name: COLUMN issues.description; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.issues.description IS '?댁뒋 ?ㅻ챸';


--
-- Name: COLUMN issues.type; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.issues.type IS '?댁뒋 ???;


--
-- Name: COLUMN issues.priority; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.issues.priority IS '?곗꽑?쒖쐞';


--
-- Name: COLUMN issues.status; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.issues.status IS '?곹깭';


--
-- Name: COLUMN issues.estimate_hours; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.issues.estimate_hours IS '?덉긽 ?뚯슂 ?쒓컙 (?쒓컙)';


--
-- Name: COLUMN issues.actual_hours; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.issues.actual_hours IS '?ㅼ젣 ?뚯슂 ?쒓컙 (?쒓컙)';


--
-- Name: COLUMN issues."order"; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.issues."order" IS '?뺣젹 ?쒖꽌';


--
-- Name: issues_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.issues_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.issues_id_seq OWNER TO neondb_owner;

--
-- Name: issues_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.issues_id_seq OWNED BY public.issues.id;


--
-- Name: projects; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.projects (
    id integer NOT NULL,
    team_id integer NOT NULL,
    name character varying(200) NOT NULL,
    key character varying(10) NOT NULL,
    description text,
    status public.project_status DEFAULT 'planning'::public.project_status NOT NULL,
    repository_url character varying(500),
    documentation_url character varying(500),
    icon_url character varying(500),
    color character varying(7),
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.projects OWNER TO neondb_owner;

--
-- Name: TABLE projects; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON TABLE public.projects IS '?꾨줈?앺듃 ?뚯씠釉?- 媛쒕컻 ?꾨줈?앺듃 ?뺣낫';


--
-- Name: COLUMN projects.id; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.projects.id IS '?꾨줈?앺듃 ID';


--
-- Name: COLUMN projects.team_id; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.projects.team_id IS '? ID';


--
-- Name: COLUMN projects.name; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.projects.name IS '?꾨줈?앺듃 ?대쫫';


--
-- Name: COLUMN projects.key; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.projects.key IS '?꾨줈?앺듃 ??(?? PROJ, DEV)';


--
-- Name: COLUMN projects.description; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.projects.description IS '?꾨줈?앺듃 ?ㅻ챸';


--
-- Name: COLUMN projects.status; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.projects.status IS '?꾨줈?앺듃 ?곹깭';


--
-- Name: COLUMN projects.repository_url; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.projects.repository_url IS 'Git 由ы룷吏?좊━ URL';


--
-- Name: COLUMN projects.documentation_url; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.projects.documentation_url IS '臾몄꽌 URL';


--
-- Name: COLUMN projects.icon_url; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.projects.icon_url IS '?꾨줈?앺듃 ?꾩씠肄?URL';


--
-- Name: COLUMN projects.color; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.projects.color IS '?꾨줈?앺듃 ?됱긽 (HEX)';


--
-- Name: projects_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.projects_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.projects_id_seq OWNER TO neondb_owner;

--
-- Name: projects_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.projects_id_seq OWNED BY public.projects.id;


--
-- Name: servers; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.servers (
    id integer NOT NULL,
    name character varying(200) NOT NULL,
    hostname character varying(255) NOT NULL,
    ip_address character varying(45) NOT NULL,
    type public.server_type DEFAULT 'virtual'::public.server_type NOT NULL,
    status public.server_status DEFAULT 'active'::public.server_status NOT NULL,
    environment character varying(50) NOT NULL,
    cpu_cores integer,
    memory_gb integer,
    disk_gb integer,
    os_name character varying(100),
    os_version character varying(50),
    provider character varying(50),
    region character varying(50),
    instance_id character varying(100),
    ssh_port integer DEFAULT 22 NOT NULL,
    ssh_user character varying(50),
    monitoring_enabled boolean DEFAULT false NOT NULL,
    monitoring_url character varying(500),
    description text,
    notes text,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.servers OWNER TO neondb_owner;

--
-- Name: TABLE servers; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON TABLE public.servers IS '?쒕쾭 ?뚯씠釉?- 臾쇰━/媛???쒕쾭, ?대씪?곕뱶 ?몄뒪?댁뒪 ?뺣낫';


--
-- Name: COLUMN servers.id; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.servers.id IS '?쒕쾭 ID';


--
-- Name: COLUMN servers.name; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.servers.name IS '?쒕쾭 ?대쫫';


--
-- Name: COLUMN servers.hostname; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.servers.hostname IS '?몄뒪?몃챸';


--
-- Name: COLUMN servers.ip_address; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.servers.ip_address IS 'IP 二쇱냼 (IPv4/IPv6)';


--
-- Name: COLUMN servers.type; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.servers.type IS '?쒕쾭 ???;


--
-- Name: COLUMN servers.status; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.servers.status IS '?쒕쾭 ?곹깭';


--
-- Name: COLUMN servers.environment; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.servers.environment IS '?섍꼍 (dev, staging, production)';


--
-- Name: COLUMN servers.cpu_cores; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.servers.cpu_cores IS 'CPU 肄붿뼱 ??;


--
-- Name: COLUMN servers.memory_gb; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.servers.memory_gb IS '硫붾え由?(GB)';


--
-- Name: COLUMN servers.disk_gb; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.servers.disk_gb IS '?붿뒪???⑸웾 (GB)';


--
-- Name: COLUMN servers.os_name; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.servers.os_name IS '?댁쁺泥댁젣 ?대쫫';


--
-- Name: COLUMN servers.os_version; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.servers.os_version IS '?댁쁺泥댁젣 踰꾩쟾';


--
-- Name: COLUMN servers.provider; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.servers.provider IS '?대씪?곕뱶 ?쒓났??(AWS, GCP, Azure ??';


--
-- Name: COLUMN servers.region; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.servers.region IS '由ъ쟾';


--
-- Name: COLUMN servers.instance_id; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.servers.instance_id IS '?몄뒪?댁뒪 ID';


--
-- Name: COLUMN servers.ssh_port; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.servers.ssh_port IS 'SSH ?ы듃';


--
-- Name: COLUMN servers.ssh_user; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.servers.ssh_user IS 'SSH ?ъ슜?먮챸';


--
-- Name: COLUMN servers.monitoring_enabled; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.servers.monitoring_enabled IS '紐⑤땲?곕쭅 ?쒖꽦???щ?';


--
-- Name: COLUMN servers.monitoring_url; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.servers.monitoring_url IS '紐⑤땲?곕쭅 ??쒕낫??URL';


--
-- Name: servers_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.servers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.servers_id_seq OWNER TO neondb_owner;

--
-- Name: servers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.servers_id_seq OWNED BY public.servers.id;


--
-- Name: services; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.services (
    id integer NOT NULL,
    server_id integer NOT NULL,
    name character varying(200) NOT NULL,
    type public.service_type DEFAULT 'web'::public.service_type NOT NULL,
    status public.service_status DEFAULT 'stopped'::public.service_status NOT NULL,
    version character varying(50),
    port integer,
    url character varying(500),
    process_name character varying(200),
    pid integer,
    container_id character varying(100),
    image_name character varying(200),
    cpu_limit integer,
    memory_limit_mb integer,
    health_check_url character varying(500),
    health_check_enabled boolean DEFAULT false NOT NULL,
    environment_variables jsonb,
    config_path character varying(500),
    log_path character varying(500),
    auto_start boolean DEFAULT false NOT NULL,
    description text,
    notes text,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.services OWNER TO neondb_owner;

--
-- Name: TABLE services; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON TABLE public.services IS '?쒕퉬???뚯씠釉?- ?쒕쾭?먯꽌 ?ㅽ뻾?섎뒗 ?좏뵆由ъ??댁뀡 ?쒕퉬??;


--
-- Name: COLUMN services.id; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.services.id IS '?쒕퉬??ID';


--
-- Name: COLUMN services.server_id; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.services.server_id IS '?쒕쾭 ID';


--
-- Name: COLUMN services.name; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.services.name IS '?쒕퉬???대쫫';


--
-- Name: COLUMN services.type; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.services.type IS '?쒕퉬?????;


--
-- Name: COLUMN services.status; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.services.status IS '?쒕퉬???곹깭';


--
-- Name: COLUMN services.version; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.services.version IS '?쒕퉬??踰꾩쟾';


--
-- Name: COLUMN services.port; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.services.port IS '?쒕퉬???ы듃';


--
-- Name: COLUMN services.url; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.services.url IS '?쒕퉬??URL';


--
-- Name: COLUMN services.process_name; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.services.process_name IS '?꾨줈?몄뒪 ?대쫫';


--
-- Name: COLUMN services.pid; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.services.pid IS '?꾨줈?몄뒪 ID';


--
-- Name: COLUMN services.container_id; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.services.container_id IS '而⑦뀒?대꼫 ID (Docker ??';


--
-- Name: COLUMN services.image_name; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.services.image_name IS '而⑦뀒?대꼫 ?대?吏 ?대쫫';


--
-- Name: COLUMN services.cpu_limit; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.services.cpu_limit IS 'CPU ?쒗븳 (%)';


--
-- Name: COLUMN services.memory_limit_mb; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.services.memory_limit_mb IS '硫붾え由??쒗븳 (MB)';


--
-- Name: COLUMN services.health_check_url; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.services.health_check_url IS '?ъ뒪泥댄겕 URL';


--
-- Name: COLUMN services.health_check_enabled; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.services.health_check_enabled IS '?ъ뒪泥댄겕 ?쒖꽦???щ?';


--
-- Name: COLUMN services.environment_variables; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.services.environment_variables IS '?섍꼍 蹂??(JSON)';


--
-- Name: COLUMN services.config_path; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.services.config_path IS '?ㅼ젙 ?뚯씪 寃쎈줈';


--
-- Name: COLUMN services.log_path; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.services.log_path IS '濡쒓렇 ?뚯씪 寃쎈줈';


--
-- Name: COLUMN services.auto_start; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.services.auto_start IS '?쒕쾭 遺?????먮룞 ?쒖옉 ?щ?';


--
-- Name: services_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.services_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.services_id_seq OWNER TO neondb_owner;

--
-- Name: services_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.services_id_seq OWNED BY public.services.id;


--
-- Name: sprints; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.sprints (
    id integer NOT NULL,
    project_id integer NOT NULL,
    name character varying(200) NOT NULL,
    goal text,
    start_date date,
    end_date date,
    status public.sprint_status DEFAULT 'planned'::public.sprint_status NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.sprints OWNER TO neondb_owner;

--
-- Name: TABLE sprints; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON TABLE public.sprints IS '?ㅽ봽由고듃 ?뚯씠釉?- ?좎옄???ㅽ봽由고듃 ?뺣낫';


--
-- Name: COLUMN sprints.id; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.sprints.id IS '?ㅽ봽由고듃 ID';


--
-- Name: COLUMN sprints.project_id; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.sprints.project_id IS '?꾨줈?앺듃 ID';


--
-- Name: COLUMN sprints.name; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.sprints.name IS '?ㅽ봽由고듃 ?대쫫';


--
-- Name: COLUMN sprints.goal; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.sprints.goal IS '?ㅽ봽由고듃 紐⑺몴';


--
-- Name: COLUMN sprints.start_date; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.sprints.start_date IS '?쒖옉??;


--
-- Name: COLUMN sprints.end_date; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.sprints.end_date IS '醫낅즺??;


--
-- Name: COLUMN sprints.status; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.sprints.status IS '?ㅽ봽由고듃 ?곹깭';


--
-- Name: sprints_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.sprints_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sprints_id_seq OWNER TO neondb_owner;

--
-- Name: sprints_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.sprints_id_seq OWNED BY public.sprints.id;


--
-- Name: team_members; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.team_members (
    id integer NOT NULL,
    team_id integer NOT NULL,
    user_id integer NOT NULL,
    role public.team_role DEFAULT 'member'::public.team_role NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.team_members OWNER TO neondb_owner;

--
-- Name: TABLE team_members; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON TABLE public.team_members IS '? 硫ㅻ쾭 ?뚯씠釉?- ?怨??ъ슜?먯쓽 ?ㅻ???愿怨?;


--
-- Name: COLUMN team_members.id; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.team_members.id IS '? 硫ㅻ쾭 ID';


--
-- Name: COLUMN team_members.team_id; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.team_members.team_id IS '? ID';


--
-- Name: COLUMN team_members.user_id; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.team_members.user_id IS '?ъ슜??ID';


--
-- Name: COLUMN team_members.role; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.team_members.role IS '? ????븷 (owner, admin, member, viewer)';


--
-- Name: team_members_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.team_members_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.team_members_id_seq OWNER TO neondb_owner;

--
-- Name: team_members_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.team_members_id_seq OWNED BY public.team_members.id;


--
-- Name: teams; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.teams (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    slug character varying(100) NOT NULL,
    description character varying(500),
    avatar_url character varying(500),
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.teams OWNER TO neondb_owner;

--
-- Name: TABLE teams; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON TABLE public.teams IS '? ?뚯씠釉?- ?꾨줈?앺듃瑜?愿由ы븯???';


--
-- Name: COLUMN teams.id; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.teams.id IS '? ID';


--
-- Name: COLUMN teams.name; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.teams.name IS '? ?대쫫';


--
-- Name: COLUMN teams.slug; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.teams.slug IS '? ?щ윭洹?(URL??';


--
-- Name: COLUMN teams.description; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.teams.description IS '? ?ㅻ챸';


--
-- Name: COLUMN teams.avatar_url; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.teams.avatar_url IS '? 濡쒓퀬 ?대?吏 URL';


--
-- Name: teams_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.teams_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.teams_id_seq OWNER TO neondb_owner;

--
-- Name: teams_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.teams_id_seq OWNED BY public.teams.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.users (
    id integer NOT NULL,
    authentik_id character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    username character varying(100) NOT NULL,
    full_name character varying(200),
    avatar_url character varying(500),
    phone character varying(20),
    is_active boolean DEFAULT true NOT NULL,
    is_admin boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    hashed_password character varying(255),
    is_superuser boolean DEFAULT false
);


ALTER TABLE public.users OWNER TO neondb_owner;

--
-- Name: TABLE users; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON TABLE public.users IS '?ъ슜???뚯씠釉?- Authentik怨??곕룞?섎뒗 ?ъ슜???뺣낫';


--
-- Name: COLUMN users.id; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.users.id IS '?ъ슜??ID';


--
-- Name: COLUMN users.authentik_id; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.users.authentik_id IS 'Authentik SSO ?ъ슜??ID';


--
-- Name: COLUMN users.email; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.users.email IS '?대찓??二쇱냼';


--
-- Name: COLUMN users.username; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.users.username IS '?ъ슜?먮챸';


--
-- Name: COLUMN users.full_name; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.users.full_name IS '?꾩껜 ?대쫫';


--
-- Name: COLUMN users.avatar_url; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.users.avatar_url IS '?꾨줈???대?吏 URL';


--
-- Name: COLUMN users.phone; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.users.phone IS '?꾪솕踰덊샇';


--
-- Name: COLUMN users.is_active; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.users.is_active IS '?쒖꽦 ?곹깭';


--
-- Name: COLUMN users.is_admin; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.users.is_admin IS '愿由ъ옄 ?щ?';


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO neondb_owner;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: deployments id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.deployments ALTER COLUMN id SET DEFAULT nextval('public.deployments_id_seq'::regclass);


--
-- Name: issues id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.issues ALTER COLUMN id SET DEFAULT nextval('public.issues_id_seq'::regclass);


--
-- Name: projects id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.projects ALTER COLUMN id SET DEFAULT nextval('public.projects_id_seq'::regclass);


--
-- Name: servers id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.servers ALTER COLUMN id SET DEFAULT nextval('public.servers_id_seq'::regclass);


--
-- Name: services id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.services ALTER COLUMN id SET DEFAULT nextval('public.services_id_seq'::regclass);


--
-- Name: sprints id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.sprints ALTER COLUMN id SET DEFAULT nextval('public.sprints_id_seq'::regclass);


--
-- Name: team_members id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.team_members ALTER COLUMN id SET DEFAULT nextval('public.team_members_id_seq'::regclass);


--
-- Name: teams id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.teams ALTER COLUMN id SET DEFAULT nextval('public.teams_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: deployments; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: issues; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: projects; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: servers; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: services; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: sprints; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: team_members; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: teams; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Name: deployments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.deployments_id_seq', 11, true);


--
-- Name: issues_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.issues_id_seq', 20, true);


--
-- Name: projects_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.projects_id_seq', 6, true);


--
-- Name: servers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.servers_id_seq', 8, true);


--
-- Name: services_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.services_id_seq', 12, true);


--
-- Name: sprints_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.sprints_id_seq', 8, true);


--
-- Name: team_members_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.team_members_id_seq', 19, true);


--
-- Name: teams_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.teams_id_seq', 7, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.users_id_seq', 10, true);


--
-- Name: deployments deployments_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.deployments
    ADD CONSTRAINT deployments_pkey PRIMARY KEY (id);


--
-- Name: issues issues_key_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.issues
    ADD CONSTRAINT issues_key_key UNIQUE (key);


--
-- Name: issues issues_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.issues
    ADD CONSTRAINT issues_pkey PRIMARY KEY (id);


--
-- Name: projects projects_key_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_key_key UNIQUE (key);


--
-- Name: projects projects_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_pkey PRIMARY KEY (id);


--
-- Name: servers servers_hostname_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.servers
    ADD CONSTRAINT servers_hostname_key UNIQUE (hostname);


--
-- Name: servers servers_name_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.servers
    ADD CONSTRAINT servers_name_key UNIQUE (name);


--
-- Name: servers servers_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.servers
    ADD CONSTRAINT servers_pkey PRIMARY KEY (id);


--
-- Name: services services_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT services_pkey PRIMARY KEY (id);


--
-- Name: sprints sprints_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.sprints
    ADD CONSTRAINT sprints_pkey PRIMARY KEY (id);


--
-- Name: team_members team_members_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.team_members
    ADD CONSTRAINT team_members_pkey PRIMARY KEY (id);


--
-- Name: team_members team_members_team_id_user_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.team_members
    ADD CONSTRAINT team_members_team_id_user_id_key UNIQUE (team_id, user_id);


--
-- Name: teams teams_name_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT teams_name_key UNIQUE (name);


--
-- Name: teams teams_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT teams_pkey PRIMARY KEY (id);


--
-- Name: teams teams_slug_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT teams_slug_key UNIQUE (slug);


--
-- Name: users users_authentik_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_authentik_id_key UNIQUE (authentik_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: idx_deployments_deployed_by; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_deployments_deployed_by ON public.deployments USING btree (deployed_by);


--
-- Name: idx_deployments_env_status; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_deployments_env_status ON public.deployments USING btree (environment, status);


--
-- Name: idx_deployments_environment; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_deployments_environment ON public.deployments USING btree (environment);


--
-- Name: idx_deployments_service_created; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_deployments_service_created ON public.deployments USING btree (service_id, created_at DESC);


--
-- Name: idx_deployments_service_env; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_deployments_service_env ON public.deployments USING btree (service_id, environment);


--
-- Name: idx_deployments_service_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_deployments_service_id ON public.deployments USING btree (service_id);


--
-- Name: idx_deployments_service_status; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_deployments_service_status ON public.deployments USING btree (service_id, status);


--
-- Name: idx_deployments_status; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_deployments_status ON public.deployments USING btree (status);


--
-- Name: idx_deployments_type; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_deployments_type ON public.deployments USING btree (type);


--
-- Name: idx_issues_assignee_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_issues_assignee_id ON public.issues USING btree (assignee_id);


--
-- Name: idx_issues_assignee_status; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_issues_assignee_status ON public.issues USING btree (assignee_id, status);


--
-- Name: idx_issues_creator_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_issues_creator_id ON public.issues USING btree (creator_id);


--
-- Name: idx_issues_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_issues_key ON public.issues USING btree (key);


--
-- Name: idx_issues_priority; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_issues_priority ON public.issues USING btree (priority);


--
-- Name: idx_issues_project_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_issues_project_id ON public.issues USING btree (project_id);


--
-- Name: idx_issues_project_sprint; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_issues_project_sprint ON public.issues USING btree (project_id, sprint_id);


--
-- Name: idx_issues_project_status; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_issues_project_status ON public.issues USING btree (project_id, status);


--
-- Name: idx_issues_sprint_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_issues_sprint_id ON public.issues USING btree (sprint_id);


--
-- Name: idx_issues_sprint_status; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_issues_sprint_status ON public.issues USING btree (sprint_id, status);


--
-- Name: idx_issues_status; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_issues_status ON public.issues USING btree (status);


--
-- Name: idx_issues_type; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_issues_type ON public.issues USING btree (type);


--
-- Name: idx_projects_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_projects_key ON public.projects USING btree (key);


--
-- Name: idx_projects_name; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_projects_name ON public.projects USING btree (name);


--
-- Name: idx_projects_status; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_projects_status ON public.projects USING btree (status);


--
-- Name: idx_projects_team_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_projects_team_id ON public.projects USING btree (team_id);


--
-- Name: idx_servers_env_status; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_servers_env_status ON public.servers USING btree (environment, status);


--
-- Name: idx_servers_environment; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_servers_environment ON public.servers USING btree (environment);


--
-- Name: idx_servers_hostname; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_servers_hostname ON public.servers USING btree (hostname);


--
-- Name: idx_servers_name; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_servers_name ON public.servers USING btree (name);


--
-- Name: idx_servers_status; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_servers_status ON public.servers USING btree (status);


--
-- Name: idx_servers_type; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_servers_type ON public.servers USING btree (type);


--
-- Name: idx_services_name; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_services_name ON public.services USING btree (name);


--
-- Name: idx_services_server_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_services_server_id ON public.services USING btree (server_id);


--
-- Name: idx_services_server_status; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_services_server_status ON public.services USING btree (server_id, status);


--
-- Name: idx_services_status; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_services_status ON public.services USING btree (status);


--
-- Name: idx_services_type; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_services_type ON public.services USING btree (type);


--
-- Name: idx_services_type_status; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_services_type_status ON public.services USING btree (type, status);


--
-- Name: idx_sprints_dates; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_sprints_dates ON public.sprints USING btree (start_date, end_date);


--
-- Name: idx_sprints_project_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_sprints_project_id ON public.sprints USING btree (project_id);


--
-- Name: idx_sprints_project_status; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_sprints_project_status ON public.sprints USING btree (project_id, status);


--
-- Name: idx_sprints_status; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_sprints_status ON public.sprints USING btree (status);


--
-- Name: idx_team_members_role; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_team_members_role ON public.team_members USING btree (role);


--
-- Name: idx_team_members_team_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_team_members_team_id ON public.team_members USING btree (team_id);


--
-- Name: idx_team_members_team_user; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_team_members_team_user ON public.team_members USING btree (team_id, user_id);


--
-- Name: idx_team_members_user_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_team_members_user_id ON public.team_members USING btree (user_id);


--
-- Name: idx_teams_name; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_teams_name ON public.teams USING btree (name);


--
-- Name: idx_teams_slug; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_teams_slug ON public.teams USING btree (slug);


--
-- Name: idx_users_authentik_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_users_authentik_id ON public.users USING btree (authentik_id);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_is_active; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_users_is_active ON public.users USING btree (is_active);


--
-- Name: idx_users_username; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_users_username ON public.users USING btree (username);


--
-- Name: deployments auto_set_deployment_completed_at; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER auto_set_deployment_completed_at BEFORE UPDATE ON public.deployments FOR EACH ROW EXECUTE FUNCTION public.set_deployment_completed_at();


--
-- Name: deployments auto_set_deployment_started_at; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER auto_set_deployment_started_at BEFORE UPDATE ON public.deployments FOR EACH ROW EXECUTE FUNCTION public.set_deployment_started_at();


--
-- Name: sprints check_sprint_dates; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER check_sprint_dates BEFORE INSERT OR UPDATE ON public.sprints FOR EACH ROW EXECUTE FUNCTION public.validate_sprint_dates();


--
-- Name: deployments update_deployments_updated_at; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER update_deployments_updated_at BEFORE UPDATE ON public.deployments FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: issues update_issues_updated_at; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER update_issues_updated_at BEFORE UPDATE ON public.issues FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: projects update_projects_updated_at; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER update_projects_updated_at BEFORE UPDATE ON public.projects FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: servers update_servers_updated_at; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER update_servers_updated_at BEFORE UPDATE ON public.servers FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: services update_services_updated_at; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER update_services_updated_at BEFORE UPDATE ON public.services FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: sprints update_sprints_updated_at; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER update_sprints_updated_at BEFORE UPDATE ON public.sprints FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: team_members update_team_members_updated_at; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER update_team_members_updated_at BEFORE UPDATE ON public.team_members FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: teams update_teams_updated_at; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER update_teams_updated_at BEFORE UPDATE ON public.teams FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: users update_users_updated_at; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER update_users_updated_at BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: deployments deployments_deployed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.deployments
    ADD CONSTRAINT deployments_deployed_by_fkey FOREIGN KEY (deployed_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: deployments deployments_rollback_from_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.deployments
    ADD CONSTRAINT deployments_rollback_from_id_fkey FOREIGN KEY (rollback_from_id) REFERENCES public.deployments(id) ON DELETE SET NULL;


--
-- Name: deployments deployments_service_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.deployments
    ADD CONSTRAINT deployments_service_id_fkey FOREIGN KEY (service_id) REFERENCES public.services(id) ON DELETE CASCADE;


--
-- Name: issues issues_assignee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.issues
    ADD CONSTRAINT issues_assignee_id_fkey FOREIGN KEY (assignee_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: issues issues_creator_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.issues
    ADD CONSTRAINT issues_creator_id_fkey FOREIGN KEY (creator_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: issues issues_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.issues
    ADD CONSTRAINT issues_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: issues issues_sprint_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.issues
    ADD CONSTRAINT issues_sprint_id_fkey FOREIGN KEY (sprint_id) REFERENCES public.sprints(id) ON DELETE SET NULL;


--
-- Name: projects projects_team_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_team_id_fkey FOREIGN KEY (team_id) REFERENCES public.teams(id) ON DELETE CASCADE;


--
-- Name: services services_server_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT services_server_id_fkey FOREIGN KEY (server_id) REFERENCES public.servers(id) ON DELETE CASCADE;


--
-- Name: sprints sprints_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.sprints
    ADD CONSTRAINT sprints_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: team_members team_members_team_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.team_members
    ADD CONSTRAINT team_members_team_id_fkey FOREIGN KEY (team_id) REFERENCES public.teams(id) ON DELETE CASCADE;


--
-- Name: team_members team_members_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.team_members
    ADD CONSTRAINT team_members_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO neon_superuser WITH GRANT OPTION;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON TABLES TO neon_superuser WITH GRANT OPTION;


--
-- PostgreSQL database dump complete
--

\unrestrict Ng883gghvG3Bh8tyQrIDu1vfYa7tQMaKgPcuE9Lds2LaIPHWOYeDhs6el44cS5c

